@model IEnumerable<LonghornCinemaReboot.Models.Showing>
@using LonghornCinemaReboot.Models
@{
    ViewBag.Title = "Index";
}

<br />

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p class="form-group">
        Search: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Detailed Search", "ShowingSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>
}


                    @if (Request.IsAuthenticated)
                    {
                     if (User.IsInRole("Manager"))
                         {
    <li>
        <a href="/Movie/Create"><span>Create Movie</span></a>
    </li>
                        }
                      }
                    

                        Displaying @ViewBag.SelectedMovies of @ViewBag.TotalMovies Showings
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SelectedMovie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedMovie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tickets)
            </td>
        </tr>
}

    </table>
